/* External CSS Example */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h2 {
    color: blue;
}

p {
    color: #333;
    font-size: 30px;
}

.intro {
    font-weight: bolder;
    font-style: italic;
}

.box {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 6px solid darkred;
    text-align: center;
    /* line-height: 100px; */
}